* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  .card{
    width: 370px;
    height: 420px;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
    background-color: white;
    transition: .5s;
    overflow: hidden;
    border-radius: 4px;
  }

  .card>div{
    width: 100%;
    height: 275px;
  }

  .card>div>img{
    width: 100%;
    height: 100%;
    transition: .5s;
  }

  .card>a{
    text-decoration: none;
    transition: .5s;
    color: #5db2ff;
    padding: 13px;
  }
  .card>h3{
    padding: 13px;
    font-weight: 300;

  }
  .card>p{
    padding: 13px;
    font-size: 16px;
    font-weight: 100;
    color: gray;
    line-height: 22px;
  }

  .card>a:hover{
    color:#793bff ;
  }

  .card:hover.card>div>img{
    transform: scale(1.1);
  }